:root {
    /* CSS HSL */
    --color-white: hsla(0, 0%, 100%, 1);
    --color-rich-black: hsla(195, 100%, 6%, 1);
    --color-prussian-blue: hsla(205, 100%, 17%, 1);
    --color-cerulean: hsla(195, 100%, 33%, 1);
    --color-picton-blue: hsla(197, 100%, 45%, 1);
    --color-steel-blue: hsla(202, 95%, 41%, 1);
    --color-lapis-lazuli: hsla(199, 100%, 29%, 1);
}
